---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import
        "homepage"
;
