---
title: Hello, World!
layout: post
background: '#00000'

slides:
 - title: Hello, World!
   slide-data: printf("Hello, World!");
     
 - title: My Name is<br>Ny Thyatdora.
   slide-data: I am 20 years old.

 - title: Skills
   slide-data: C, C++, C#, and Java.

 - title: Languages
   slide-data: Khmer, and English.

 - title: Interests
   slide-data: Reading Blogs, Chill Vibe, and Self-Taught. 

 - title: Projects
   slide-data: Arrowdot POS, and Arrowdot School Management System.

 - title: Contacts Me
   slide-data: Facebook, Instagram, and Gmail!

---

{% for slide in page.slides %}
                    
<section data-background="{% if slide.background %}{{slide.background}}{% else %}{{page.background}}{% endif %}"><h1>{{slide.title}}</h1>{{ slide.slide-data }}</section>
                    
{% endfor %}
