

    
    <script src="{{site.baseurl}}/lib/js/head.min.js"></script>
		<script src="{{site.baseurl}}/js/reveal.js"></script>

		<script>
   			Reveal.initialize({
				history: true,

				
				dependencies: [
					{ src: '{{site.baseurl}}/plugin/markdown/marked.js' },
					{ src: '{{site.baseurl}}/plugin/markdown/markdown.js' },
					{ src: '{{site.baseurl}}/plugin/notes/notes.js', async: true },
					{ src: '{{site.baseurl}}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>