html{
    overflow-x: hidden;
}

body{
    margin:0;
    padding:0;
    width: 100%;
}

.pack {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: $on-palm) {
        width: 95%;
    }
}

.card {
    /* background-color: #05a; */
    border: none;
    margin: 5px;
    width: 250px;
    height: 200px;
    padding: 20px;
    box-shadow: 0px 0px 5px #9a9a9a;
    display: inline-block;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    /* display: inline-flex;
    flex-wrap: wrap; */
}

.card:hover{
    box-shadow: 0px 0px 10px #333;
}

.card-number {
    font-weight: 700;
    font-size: 6em;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}



.card-title{
    font-weight: 700;
    font-size: 2em;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    text-shadow: 0px 1px 0px #ddd, 0px 2px 0px #ddd, 0px 3px 0px #aaa, 0 10px 10px rgba(0,0,0,.15);
   
}



.link {
    text-decoration: none;
}

.brand {
    position: relative;
    left: 10%;
    top: 10%;
    padding: 10px;
    margin: 10px;
    @media screen and (max-width: $on-palm) {
        position: static;
        padding: 0;
    }
}

.logo{
    @media screen and (max-width: $on-palm) {
        width: 33px;
    }
}

.headline {
    display: inline;
    font-family: sans-serif;
    color: #444;
    font-weight: 400;
    font-size: 63px;
    margin-left: 10px;
    @media screen and (max-width: $on-palm) {
            font-size: 33px;
    }
    
}

a {
    text-decoration: none;
}

.head-text{
    font-size: 20px;
    font-family: sans-serif;
    color: #6d6d6d;
    text-shadow: 0px 0px 0.1px;
}